<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/v1/user/join">
        <input type="text" name="id" id="id" placeholder="id"/>
        <input type="password" name="password" id="password" placeholder="password"/>
        <input type="text" name="username" id="username" placeholder="username"/>
        <input type="email" name="email" id="email" placeholder="email"/>
        <input type="text" name="hp" id="hp" placeholder="hp"/>
        <button type="submit">가입</button>
    </form>
</body>
</html>